.hide{
    display: none;
}
.show{
    display: block;
}

body{
    background-color: white;
}
.feedback-container{
    margin: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}