.hide{
    display: none;
}
.show{
    display: block;
}

body{
    background-color: white;
}
.feedback{
    margin: 20px 0 20px 0
}
.feedback-container{
    margin: 100px 0 100px 0;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;*/
}